
  .mainFormContainer {

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    gap: 15px;
    padding: 50px 0px;
  
  }
  
  form {
  
    display: flex;
    flex-direction: column;
    font-family: outfit;
    gap: 10px;
    width: 50%;
  }
  
  .coordContainer {
  
    width: 50%;
    gap: 15px;
  }

  .mainFormContainer {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5%;
  }
  
  input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 3px solid  #FFC400;
    resize: none;
    color: rgb(0, 0, 0);}


#root > div > div > div.mainFormContainer > form > input[type=submit] {


}



@media (max-width: 640px) { 

  .mainFormContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  #root > div > div > div.mainFormContainer > div {

    width: 100%;
    padding: 5%;
  }

  #root > div > div > div.mainFormContainer > form {
    
    width: 100%;

  }
}

@media (max-width: 250px) {

  #Contact > div > p > span:nth-child(2) {
    font-size: 11px;
  }
}