
.footer {
    border-radius: 0px 0px 25px 25px;
    background-color: rgba(0, 0, 0, 0.797);
    width: 100%;
    padding: 3% 5%;
  }
/*
  .footer img {
    width: 26%;
  }*/
  .footer p {
    font-weight: 400;
    font-size: 14px;
    color: #B8B8B8;
    letter-spacing: 0.5px;
    margin-top: 20px;
  }
  
  .copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  
  }

  #root > div > div > footer > img {
    padding-top: 25px;
    padding-left: 25px;
    width: 100px;
  }


  

  .social-icon a {
    width: 30px;
    height: 30px;
    background: #1f1e1e;
    display: inline-flex;
    border-radius: 50%;
    margin-left: 16px;
    align-items: center;
    justify-content: center;
    transition: 0.32s ease-in-out;
}

#root > div > div > footer > div > div > a > img {
    width: 16px;
    height: auto;
  
}

@media (max-width: 450px) {
  #root > div > div > footer > div > div {
    margin-top: 25px;
  }
  .social-icon a {
    margin-left: 5px;
  }
  .copyright {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-right: 0px;
  }
  .footer p {
    text-align: center;
  }
}