

.cardIcons {
    width: 35%;
    padding-bottom: 5%;
 }
.skillBackground {
    box-sizing: border-box;
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 100px 0px 80px 0px;
    
    background-color: rgb(255, 255, 255);
}


.mainCarouselContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}


.itemSkill {
    box-sizing: border-box;
    padding: 10%;
}

.react-multiple-carousel__arrow {

    position: absolute;
    bottom: 0;
    min-width: 10px;
    min-height: 10px;
    margin-bottom: 10px;
    
}

#root > div > div > section > div.react-multi-carousel-list.container.carousel > ul.react-multi-carousel-dot-list > li {

    display: none;
}


.designList {

    font-family: 'Outfit';
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    color: #838383;

}

.designItem {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
}

.designItemContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.devEtDesignItem {

    display: flex;
    flex-direction: row;
    gap: 85px;
}

.mainToolsContainer {
    width: 80%;
}

.carousel {
    background-color: #FFC400;
    border-radius: 17px;
    width: 45%;

}


#root > div > div > section.mainCarouselContainer > div > div.react-multi-carousel-list.container.carousel > ul.react-multi-carousel-dot-list {

    padding: 20px 0px;
}


.JSContainer {

    display: flex;
    flex-direction: row;
}


.SecondJsContainer {

    display: flex;
    flex-direction: row;
    gap: 10px;
}


/*****************************      MEDIA QUERY  ********************************/


@media (max-width: 1190px) {

    .carousel {
        width: 55%;
    }
}

@media (max-width: 990px) {
    

.skillBackground {
    flex-direction: column;
    align-items: center;
}

.mainToolsContainer {
    width: 100%;
}
.carousel {
    width: 100%;
}
#root > div > div > section.mainCarouselContainer > div > div.mainToolsContainer > img {

    width: 100%;
}

.devEtDesignItem {

    padding-bottom: 35px;
}


}


@media (max-width: 900px) {

    .SecondJsContainer {
        align-items: flex-end;
    }
  
}

@media (max-width: 600px) {

    .SecondJsContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }

    

}

@media (max-width: 480px) {

    #root > div > div > section.mainCarouselContainer > div > div.mainToolsContainer > div {

        display: flex;
        flex-direction: column;
    
    }
    h2 {
        font-size: 18px;
    }
 

    .devEtDesignItem {
        gap: 25px;
    }


  
}



/*****************************      NEW CSS     ********************************/

.react-multiple-carousel__arrow {

    width: 25px;
    height: 35px;
    background-color: none;
}

.itemSkill {

    box-sizing: border-box;
}