.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: #FFD984; 
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #FFC400 transparent #FFC400 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.canvasContainer {
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Outfit';
  font-style: normal;
  font-size: 16px;
}

.backgroundApp {
  display: flex;
  flex-direction: column;
  background-color: #FFD984;
  justify-content: center;
}
 
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Outfit';
  font-weight: 400;
  font-size: 16px;
  background: linear-gradient(180deg, #FFF7ED 0%, #F5E7D5 100%);
  width: 90%;
  height: 100%;
  margin: 5%;
  margin-top: 0;
  border-radius: 25px;
}

.logoIcon {
  width: 2em;
  box-sizing: border-box;
}

button, #root > div > div > div.mainFormContainer > form > input[type=submit]:nth-child(4) {
  font-family: 'Outfit';
  font-size: 16px;
  font-weight: bolder;
  color: #212529;
  padding : 1rem 1.5rem;
  background: #FFC400;
  border: none;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 63px;
  width: auto;
}


button:hover, #root > div > div > div.mainFormContainer > form > input[type=submit]:nth-child(4):hover {
  background: #ffcc24;
  box-shadow: rgba(0, 0, 0, 0.25) 0 6px 10px;
  transform: translateY(-1px);
}

span.bold {
  margin-bottom: 16px;
  font-weight: 700;
}

.yellow { 
  color: #FFC400;
}


h2 {
  font-family: 'Outfit';
  font-weight: 700;
  font-size: 26px;
  color: #212529;
}

h3 {
  font-family: 'Outfit';
  font-weight: 700;
  font-size: 20px;
  color: #838383;
  padding-bottom: 15px;
}
h4 {
  font-family: 'Outfit';
  font-weight: 700;
  font-size: 20px;
  color: black;
}


h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Fredoka', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 55px;
  line-height: 109%;
  text-align: center;
}


@media (max-width: 500px) { 
  h1 {
    font-size: 32px;
    margin: 12px  0px 12px;
  }
  
  h2 {
    font-size: 18px;
  }

  #root > div > section > div.mainToolsContainer > img {
    width: 100%;
  }

  h3, h4 {
    font-size: 16px;
  }

  p {
    font-size: 13px;
  }

  .designList {
    font-size: 13px;
  }

  button {
    font-size: 13px;
  }
}
